section {
    width:100%;
    background:#313131;
}

/*-- 비주얼--*/
div.visual {
    position:relative;
    width:100%;
    height:100vh;
    overflow:hidden;
}
div.mainTit {
    position:absolute;
    top:50%;
    transform:translateY(-50%);
}
div.mainTit div {
    overflow-y:hidden;
}
div.mainTit h1 {
    padding:10px 0;
    font-size:100px;
    font-family: 'Noto Sans Bold';
    color:#e7b542;
    animation:txtEffect .8s both;
    animation-timing-function:cubic-bezier(.55,.3,0,.99);
    animation-delay:0s;
}
@keyframes txtEffect {
  0%   {
		transform:translate(0,110px);
		opacity:0;
    }
  100% {
		transform:translate(0,0);
		opacity:1;
    }
}
div.mainTit h1.stroke {
    color:#e7b542;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #e7b542;
    animation-delay:0.5s;
}
div.mainTit h1 span.dot {
    color:#a8393f;
}
div.scrollDown {
    position:absolute;
    bottom:90px;
    width:1080px;
    text-align:center;
}
div.scrollDown p {
    margin-bottom:5px;
    font-size:14px;
    color:#929292;
}
div.scrollDown span.arrow {
    display:inline-block;
    width:16px;
    height:8px;
    background:url('../img/scrollArrow.png') no-repeat;
    animation:scrolling 2s infinite;
    animation-timing-function:ease-out;
}
@keyframes scrolling {
    0% {transform: translateY(0)}    
    50% {transform: translateY(5px)}
    100% {transform: translateY(0px)}
}
/*-- END 비주얼--*/



/*-- 컨테이너--*/
div.container {
    position:relative;
    top:-50px;
    left:50%;
    width:1080px;
    background:#fff;
    transform:translate(-50%,50px);
    animation:trick .5s both;
    animation-timing-function:cubic-bezier(.55,.3,0,.99);
    animation-delay:1s;
    box-sizing:content-box;
}
@keyframes trick {
    0% {transform:translate(-50%,50px);;
}    
    100% {transform:translate(-50%,0px);}
}

div.content {
    padding:140px 0;
}

/*about*/
div#about {
    text-align:center;
}
div#about div.subTit h2 {
    margin:40px 0;
}
div#about div.buttonArea {
    margin-top:40px;
} 

div#work {
    padding-top:0;
}
div#work .subTit h2 {
    margin-top:20px;
}
div#work div.workInner {
    padding-top:50px;
    font-size:0;
}
a.workItem {
    position:relative;
    display:none;
    margin-bottom:40px;
    width:520px;
    height:460px;
}
a.workItem:nth-child(-n+4) {
    display:inline-block;
}
a.workItem:nth-child(2n) {
    top:140px;
    margin-left:40px;
}
a.workItem:after {
    content:'Veiw More';
    position:absolute;
    top:50%;
    margin-top:-10px;
    display:block;
    width:100%;
    font-size:18px;
    text-align:center;
    color:#fff;
    z-index:3;
    transform:translateY(20px);
    transition: all .4s .1s cubic-bezier(.55,.3,0,.99);
    opacity:0;
}
a.workItem:hover:after {
    transform:translateY(0);
    opacity:1;
}
a.workItem:before {
    content:'';
    position:absolute;
    top:10px;
    left:10px;
    display:block;
    width:500px;
    height:440px;
    background:#313131;
    z-index:2;
    transform: scale3d(.95,.95,1);
    transition: all .4s ease;
    opacity:0;
}
a.workItem:hover:before {
    transform: scale3d(.98,.98,1);
    opacity:.9;
}
a.workItem img {
    position:absolute;
    top:0;
    left:0;
    width:100%;
}
a.workItem div.workDetail {
    position:absolute;
    padding:80px 60px;
    color:#fff;
    z-index:1;
}
a.workItem div.workDetail.colorBlack {
    color:#333;
}
a.workItem div.workDetail p.type {
    font-size:16px;
    font-family: 'Noto Sans Bold';
}
a.workItem div.workDetail p.title {
    margin-top:20px;
    font-size:26px;
}
div#work div.buttonArea {
    margin-top:180px;
} 
/*-- END 컨테이너 --*/