/*공통 버튼 스타일 변경*/
div.buttonArea a.viewBtn {
    padding-left:25px;
    width:220px;
}
div.buttonArea a.viewBtn::before {
    left:-72.5%;
}
div.buttonArea a.viewBtn:hover::before {
    left:72.5%;
}



/*-- 어바웃미 페이지 --*/
div.subVisual {
    position:relative;
    width:100%;
    height:530px;
    background:#313131;
    overflow:hidden;
}
div.subVisual div.parallax span.blue {
    top:-40px;
    left:90px;
    background:url('../img/sub_particle_blue.png') no-repeat center;
}
div.subVisual div.parallax span.red {
    left:-50px;
    background:url('../img/sub_particle_red.png') no-repeat  center;
}
div.subVisual div.parallax span.gray {
    background:url('../img/sub_particle_gray.png') no-repeat  center ;
}

div.subPageTit {
    margin:200px auto;
    width:1200px;
}
div.subPageTit div {
    overflow-y:hidden;
}
div.subPageTit h1 {
    font-size:70px;
    font-family: 'Noto Sans Bold';
    color:#e7b542;
    animation:txtEffect .8s both;
    animation-timing-function:cubic-bezier(.55,.3,0,.99);
}
@keyframes txtEffect {
  0%   {
		transform:translate(0,70px);
		opacity:0;
    }
  100% {
		transform:translate(0,0);
		opacity:1;
    }
}
div.subPageTit span.stroke {
    color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #e7b542;
    animation-delay:2s;
}
div.subPageTit span.dot {
    color:#a8393f;
}
div.subPageTit p {
    margin-top:35px;
    font-size:20px;
    color:#999;
    animation:txtEffect .5s both;
    animation-timing-function:cubic-bezier(.55,.3,0,.99);
    animation-delay:.4s;
}

div.about {
    padding-bottom:100px;
    text-align:center;
}
div.service {
    padding:80px 0;
    background:#eee;
}
div.service::after {
    content:'';
    display:block;
    clear:both;
}
dl.svcInner {
    float:left;
    margin-left:30px;
    padding:50px 40px;
    width:380px;
    height:545px;
    background:#fff;
}
dl.svcInner:first-child {
    margin-left:0;
}
dl.svcInner dt {
    font-size:20px;
    font-family: 'Noto Sans Bold';
    text-align:center;
    color:#313131;
}
dl.svcInner dt span.icon {
    display:block;
    margin:0 auto;
    margin-bottom:30px;
    width:50px;
    height:50px;
    background:url('../img/service.png') no-repeat -50px 0;
}
dl.svcInner dt span.ic01 {
    background-position:0 0;
}
dl.svcInner dt span.ic02 {
    background-position:-100px 0;
}
dl.svcInner dd {
    margin-top:48px;
}
dl.svcInner dd p {
    margin-top:20px;
    font-size:18px;
    line-height:32px;
    color:#999;
}
div.resume {
    padding-top:150px;
}
div.resumeInner {
    margin-top:80px;
}
div.resumeInner::after {
    content:'';
    display:block;
    clear:both;
}
p.resumeTit {
    font-size:20px;
    font-family: 'Noto Sans Bold';
    color:#313131;
}
ul.resumeList {
    margin-top:20px;
}

ul.resumeList li {
    margin-top:15px;
    font-size:18px;
    line-height:30px;
    color:#999;
}
div.profile {
    float:left;
    width:380px;
}
div.profile h3 {
    margin-top:45px;
    font-size:22px;
    color:#313131
}
div.profile p {
    margin-top:15px;
    letter-spacing:2px;
    font-size:16px;
    color:#bbb;
}
div.profile ul {
    margin-top:30px;
}
div.profile ul li {
    padding-left:35px;
    margin-bottom:10px;
    font-size:18px;
    line-height:32px;
    color:#999;
}
div.profile ul li.phone {
    background:url('../img/phone.png') no-repeat 0 6px;
}
div.profile ul li.message {
    background:url('../img/message.png') no-repeat 0 7px;
}
div.data {
    margin:0 30px;
    float:left;
    width:380px;
}
div.data div {
    margin-bottom:50px;
}

div.data ul.resumeList {
    margin-left:5px;
    padding-left:15px;
    border-left:1px solid #eee;
}
div.data ul.resumeList li {
    position:relative;
    padding-left:85px;
    
}
div.data ul.resumeList li span::after {
    position:absolute;
    top:12px;
    left:-18.5px;
    content:'';
    display:block;
    width:7px;
    height:7px;
    background:#a8393f;
    border-radius:7px;
}
div.data ul.resumeList li span {
    position:absolute;
    left:0;
}
div.skill {
    float:left;
    width:380px;
}
ul.skillInner {
    margin-top:20px;
}
ul.skillInner li p.skillName {
    position:relative;
    font-size:18px;
    line-height:32px;
    color:#666;
}
ul.skillInner li p.skillName span.percent {
    position:absolute;
    right:0;
    font-size:14px;
    color:#ccc;
}
ul.skillInner li div.bar {
    position:relative;
    margin:5px 0 20px 0;
    width: 100%;
	height: 5px;
	background: #e3e3e5;
    border-radius:5px;
}
ul.skillInner li div.bar span.barInner {
    position:absolute;
    display:block;
    top:0;
    left:0;
    width:0;
    height:5px;
    border-radius:5px;
}
ul.skillInner li div.bar span.html {
    background:#f16528;
}
ul.skillInner li div.bar span.css {
    background:#2eaade;
}
ul.skillInner li div.bar span.jquery {
    background:#ffd93a;
}
ul.skillInner li div.bar span.photoshop {
    background:#97c9ef;
}
ul.skillInner li div.bar span.illust {
    background:#f4c167;
}
/*-- END 어바웃미 페이지 --*/





/*-- 디테일 페이지 --*/
div.workVisual {
    width:100%;
    height:530px;
    overflow:hidden;
}
/*비쥬얼 색상 변경*/
div.shinedale {
    background:#9c2236;
}
div.pineresort {
    background:#00afce;
}
div.seosansoo {
    background:#1b9bab;
}
div.beaconhills {
    background:#297e93;
}
div.stonegate {
    background:#ecc336;
}
div.sevenvalley {
    background:#192c49;
}

div.workVisual div.wrap {
    position:relative;
    margin:0 auto;
    width:1200px;
    height:530px;
}
div.workTit {
    position:absolute;
    bottom:80px;
    color:#fff;
}
div.workTit p.type {
    font-size:22px;
}
div.workTit p.title {
    margin-top:30px;
    font-size:42px;
}
div.thumbnail {
    position:absolute;
    bottom:0;
    right:0;
    width:645px;
    height:375px;
    box-shadow: 0px 3px 50px rgba(0,0,0,.5);
}

div.contents {
    padding:150px 0;
}
div.infoArea {
    margin:0 auto;
    width:1200px;
}
div.infoArea:after {
    content:'';
    display:block;
    clear:both;
}
div.infoArea div.buttonArea {
    margin-top:90px;
    text-align:left;
}
div.infoArea div.leftCnt {
    float:left;
    width:740px;
}
div.summary h3 {
    font-size:20px;
    font-family: 'Noto Sans Bold';
    color:#313131;
}
div.summary p {
    margin-top:20px;
    font-size:18px;
    line-height:32px;
    color:#999;
}
div.goSiteBtn {
    margin-top:70px;
}
div.goSiteBtn a {
    margin-right:10px;
    display:inline-block;
    width:200px;
    height:45px;
    font-size:16px;
    font-family: 'Noto Sans Medium';
    text-align:center;
    line-height:45px;
    color:#e7b542;
    border:2px solid #e7b542;
    border-radius:50px;
}
div.goSiteBtn a:hover {
    background-color:#e7b542;
    color:#fff;
}

div.infoArea div.rightCnt {
    float:right;
    width:340px;
}
dl.detailMeta {
    margin-bottom:70px;
}
dl.detailMeta dt {
    font-size:20px;
    font-family: 'Noto Sans Bold';
    color:#313131;
}
dl.detailMeta dd {
    margin-top:20px;
    font-size:18px;
    color:#999;
}
div.workCnt {
    margin-top:100px;
    padding:80px 0;
    background:#eee;
    text-align:center;
}
div.workCnt img {
    margin:80px auto;
}
/*-- END 디테일 페이지 --*/
