
/*-- 반응형 --*/
@media(max-width:1280px){
    /*-- header --*/
    header {
        height:60px;
    }
    header nav a {
        font-size:15px;
    }
    /*-- END header --*/

    /*-- section --*/
    .wrap {
        width:800px;
    }

    /*페럴렉스*/
    div.parallax span.blue {
        top:0px;
    }
    div.parallax span.red {
        left:0px;
    }
    
    /* 텍스트 */
    div.subTit p {
        font-size:19px;
    }
    div.subTit h2 {
        font-size:30px;
        line-height:40px;
    }
    p.subTxt {
        font-size:15px;
        line-height:26px;
    }
    /*-- END section --*/



    /*-- footer --*/
    footer div.footWrap {
        width:800px;
    }
    div.footWrap div.leftCnt {
        padding:70px 0;
        width:45%;
    }
    div.footWrap div.leftCnt span.symbol {
        width:18px;
        height:18px;
    }
    div.footWrap div.leftCnt p {
        margin-top:30px;
        font-size:30px;
        line-height:46px;
    }
    div.footWrap div.rightCnt {
        padding:70px 0 20px 0;
        width:55%;
    }
    div.footWrap div.rightCnt dl dd {
        font-size:14px;
    }
    /*-- END footer --*/
    
    
    
    /*-- 비주얼--*/
    div.mainTit h1 {
        font-size:80px;
    }
    div.scrollDown {
        width:800px;
    }
    /*-- END 비주얼--*/



    /*-- 컨테이너--*/
    div.container {
        width:800px;
    }
    div.content {
        padding:120px 0;
    }

    /*about*/
    a.workItem {
        margin-bottom:20px;
        width:390px;
        height:342px;
    }
    a.workItem:nth-child(2n) {
        top:80px;
        margin-left:20px;
    }
    a.workItem:after {
        font-size:16px;
    }
    a.workItem:before {
        width:370px;
        height:322px;
    }
    a.workItem div.workDetail {
        padding:55px 35px;
    }
    a.workItem div.workDetail p.type {
        font-size:13px;
    }
    a.workItem div.workDetail p.title {
        margin-top:15px;
        font-size:22px;
    }
    
    
    
    /*-- 어바웃미 페이지 --*/
    div.subVisual {
        height:480px;
    }
    div.subVisual div.parallax span.blue {
        background:url('../img/sub_particle_blue.png') no-repeat center left;
        background-size:cover;
    }
    div.subVisual div.parallax span.red {
        background:url('../img/sub_particle_red.png') no-repeat  center left;
        background-size:cover;
    }
    div.subVisual div.parallax span.gray {
        background:url('../img/sub_particle_gray.png') no-repeat  center left;
        background-size:cover;
    }

    div.subPageTit {
        margin:180px auto;
        width:800px;
    }
    div.subPageTit h1 {
        font-size:55px;
    }
    div.subPageTit p {
        margin-top:30px;
        font-size:17px;
    }

    dl.svcInner {
        margin-left:10px;
        padding:35px 20px;
        width:260px;
        height:470px;
    }
    dl.svcInner dt {
        font-size:18px;
    }
    dl.svcInner dt span.icon {
        width:40px;
        height:40px;
        background:url('../img/service.png') no-repeat -40px 0;
        background-size:120px 40px;
    }
    dl.svcInner dt span.ic02 {
        background-position:-80px 0;
    }
    dl.svcInner dd {
        margin-top:40px;
    }
    dl.svcInner dd p {
        margin-top:15px;
        font-size:14px;
        line-height:26px;
    }
    div.resume {
        padding-top:100px;
    }
    div.resumeInner {
        margin-top:60px;
    }
    p.resumeTit {
        font-size:18px;
    }

    ul.resumeList li {
        margin-top:10px;
        font-size:15px;
    }
    div.profile {
        width:210px;
    }
    div.profile img {
        width:130px;
    }
    div.profile h3 {
        margin-top:35px;
        font-size:18px;
    }
    div.profile p {
        margin-top:10px;
        font-size:14px;
    }
    div.profile ul {
        margin-top:25px;
    }
    div.profile ul li {
        font-size:16px;
    }
    div.data {
        margin:0 30px;
        float:left;
        width:250px;
    }
    div.data ul.resumeList li {
        padding-left:65px;
    }
    
    div.skill {
        width:260px;
    }
    ul.skillInner {
        margin-top:20px;
    }
    ul.skillInner li p.skillName {
        font-size:15px;
    }
    ul.skillInner li p.skillName span.percent {
        font-size:12px;
    }
    /*-- END 어바웃미 페이지 --*/
    
    
    
    /*-- 디테일 페이지 --*/
    div.workVisual {
        height:480px;
    }

    div.workVisual div.wrap {
        width:800px;
        height:480px;
    }
    div.workTit p.type {
        font-size:18px;
    }
    div.workTit p.title {
        margin-top:25px;
        font-size:34px;
    }
    div.thumbnail {
        width:430px;
        height:250px;
    }
    div.thumbnail img {
        width:100%;
    }

    div.contents {
        padding:100px 0;
    }
    div.infoArea {
        width:800px;
    }
    div.infoArea div.leftCnt {
        float:left;
        width:100%;
    }
    div.summary h3 {
        font-size:19px;
    }
    div.summary p {
        font-size:15px;
        line-height:26px;
    }
    div.goSiteBtn {
        margin-top:50px;
    }
    div.goSiteBtn a {
        height:45px;
        font-size:14px;
    }
    div.infoArea div.rightCnt {
        float:right;
        width:100%;
    }
    dl.detailMeta {
        margin-top:80px;
        margin-bottom:0;
        margin-right:60px;
        display:inline-block;
    }
    dl.detailMeta dt {
        font-size:17px;
    }
    dl.detailMeta dd {
        margin-top:20px;
        font-size:15px;
    }
    div.workCnt img {
        margin:50px auto;
        width:800px;
    }
    /*-- END 디테일 페이지 --*/
    
    div.buttonArea {
        margin-top:120px;
    }

}
@media(max-width: 800px){
  /*-- header --*/
    header {
        height:40px;
    }
    header nav {
        top:20px;
        right:0;
        width:100%;
        text-align:center;
    }
    header nav a {
        margin:0 18px;
        font-size:13px;
    }
    /*-- END header --*/

    /*-- section --*/
    .wrap {
        width:375px;
    }

    /*페럴렉스*/
    div.parallax span.blue {
        top:0px;
    }
    div.parallax span.red {
        left:0px;
    }
    
    /* 텍스트 */
    div.subTit p {
        font-size:14px;
    }
    div.subTit h2 {
        font-size:20px;
        line-height:32px;
    }
    p.subTxt {
        font-size:13px;
    }
    p.subTxt br {
        display:none;
    }
    
    /* 버튼 */
    a.viewBtn {
        position:relative;
        padding-left:25px;
        display:inline-block;
        width:210px;
        height:40px;
        line-height:40px;
        text-align:left;
        border-radius:30px;
        box-sizing:border-box;
        overflow:hidden;
    }
    a.viewBtn::before {
        left:-80%;
    }
    a.viewBtn:hover::before {
        left:80%;
    }
    a.viewBtn p {
        font-size:13px;
    }
    a.viewBtn p span {
        right:15px;
    }
    /*-- END section --*/



    /*-- footer --*/
    footer div.footWrap {
        width:375px;
    }
    div.footWrap div.leftCnt {
        float:inherit;
        padding:0;
        padding-top:40px;
        width:100%;
    }
    div.footWrap div.leftCnt span.symbol {
        width:14px;
        height:14px;
    }
    div.footWrap div.leftCnt p {
        margin-top:20px;
        font-size:22px;
        line-height:36px;
    }
    div.footWrap div.rightCnt {
        float:inherit;
        padding:50px 0 30px 0;
        width:100%;
    }
    div.footWrap div.rightCnt dl {
        margin-bottom:30px;
    }
    div.footWrap div.rightCnt dl dt {
        font-size:14px;
    }
    div.footWrap div.rightCnt dl dd {
        margin-top:15px;
        font-size:12px;
    }
    div.footWrap div.rightCnt dl dd p {
        margin-top:15px;
    }
    div.footWrap div.rightCnt dl dd a {
        margin-right:20px;
    }
    p.copyright {
        padding:20px;
        font-size:10px;
    }
    /*-- END footer --*/
    
    
    
    /*-- 비주얼--*/
    div.parallax span.blue {
        background-size:cover;
    }
    div.parallax span.red {
        background-size:cover;
    }
    div.parallax span.gray {
        background-size:cover;
    }
    div.visual div.wrap {
        width:100%;
    }
    div.mainTit {
        width:100%
    }
    div.mainTit h1 {
        font-size:58px;
        text-align:center;
    }
    div.scrollDown {
        width:100%;
    }
    /*-- END 비주얼--*/



    /*-- 컨테이너--*/
    div.container {
        width:100% !important;
    }
    div.content {
        padding:80px 0;
    }

    /*about*/
    div#about div.subTit h2 {
        margin:20px 0;
    }
    div#about div.buttonArea {
        margin-top:20px;
    }
    
    /*work*/
    div#work .subTit h2 {
        margin-top:10px;
    }
    div#work div.workInner {
        padding-top:30px;
    }
    a.workItem {
        margin-bottom:20px;
        width:375px;
        height:329px;
    }
    a.workItem:nth-child(2n) {
        top:0;
        margin-left:0;
    }
    a.workItem:after {
        font-size:14px;
    }
    a.workItem:before {
        width:355px;
        height:312px;
    }
    a.workItem div.workDetail {
        padding:55px 35px;
    }
    a.workItem div.workDetail p.type {
        font-size:12px;
    }
    a.workItem div.workDetail p.title {
        margin-top:15px;
        font-size:16px;
    }
    div#work div.buttonArea {
        margin-top:40px;
    }
    
    
    /*-- 어바웃미 페이지 --*/
    div.subVisual {
        height:320px;
    }

    div.subPageTit {
        margin:120px auto;
        margin-left:30px;
        width:100%;
    }
    div.subPageTit h1 {
        font-size:44px;
    }
    div.subPageTit p {
        margin-top:20px;
        font-size:14px;
    }
    
    div.about {
        margin:0 auto;
        padding-bottom:80px;
        width:375px;
    }
    div.about .subTit h2 {
        margin:20px 0;
    }

    div.service {
        padding:60px 0;
    }
    dl.svcInner {
        float:inherit;
        margin-left:0;
        margin-bottom:20px;
        padding:35px 20px;
        width:100%;
        height:auto;
    }
    dl.svcInner dt {
        font-size:16px;
    }
    dl.svcInner dt span.icon {
        margin-bottom:10px;
        width:40px;
        height:40px;
        background:url('../img/service.png') no-repeat -40px 0;
        background-size:120px 40px;
    }
    dl.svcInner dd {
        margin-top:30px;
    }
    dl.svcInner dd p {
        margin-top:10px;
        font-size:13px;
        line-height:22px;
    }
    div.resume {
        padding-top:50px;
    }
    div.resumeInner {
        margin-top:20px;
    }
    p.resumeTit {
        font-size:14px;
    }

    ul.resumeList li {
        margin-top:10px;
        font-size:12px;
    }
    div.profile {
        float:inherit;
        width:100%;
        text-align:center;
    }
    div.profile img {
        display:inline-block;
        width:100px;
    }
    div.profile h3 {
        margin-top:20px;
        font-size:16px;
    }
    div.profile p {
        margin-top:10px;
        font-size:12px;
    }
    div.profile ul {
        margin:40px 0;
        display:inline-block;
        width:100%;
        text-align: left;
    }
    div.profile ul li {
        padding-left:25px;
        font-size:12px;
        line-height:20px;
    }
    div.profile ul li.phone {
        background: url(../img/phone.png) no-repeat 0 2px;
        background-size:16px;
    }
    div.profile ul li.message {
        background: url(../img/message.png) no-repeat 0 2px;
        background-size:16px;
    }
    div.data {
        margin:0;
        float:inherit;
        width:100%;
    }
    div.data ul.resumeList li {
        padding-left:65px;
    }
    
    div.skill {
        float:inherit;
        width:100%;
    }
    ul.skillInner {
        margin-top:20px;
    }
    ul.skillInner li p.skillName {
        font-size:13px;
    }
    ul.skillInner li p.skillName span.percent {
        font-size:10px;
    }
    /*-- END 어바웃미 페이지 --*/
    
    
    
    /*-- 디테일 페이지 --*/
    div.workVisual {
        height:340px;
    }

    div.workVisual div.wrap {
        width:375px;
        height:340px;
    }
    div.workTit {
        position:relative;
        top:0;
        margin-top:70px;
    }
    div.workTit p.type {
        font-size:14px;
    }
    div.workTit p.title {
        margin-top:15px;
        font-size:26px;
    }
    div.thumbnail {
        width:100%;
        height:250px;
    }
    div.thumbnail img {
        width:100%;
    }

    div.contents {
        padding:100px 0;
    }
    div.infoArea {
        padding:0 20px;
        width:100%;
    }
    div.infoArea div.leftCnt {
        float:inherit;
        width:100%;
    }
    div.summary h3 {
        font-size:16px;
    }
    div.summary p {
        font-size:13px;
        line-height:24px;
    }
    div.goSiteBtn {
        margin-top:50px;
    }
    div.goSiteBtn a {
        margin-right:0;
        margin-bottom: 10px;
        width:100%;
        height: 40px;
        line-height: 40px;
        font-size: 13px;
        border:1px solid;
    }
    div.goSiteBtn a.demo {
        border:1px solid;
    }
    div.infoArea div.rightCnt {
        float:inherit;
        width:100%;
    }
    dl.detailMeta {
        float:inherit;
        margin-top:60px;
        margin-bottom:0;
        margin-right:60px;
        display:inline-block;
    }
    dl.detailMeta dt {
        font-size:15px;
    }
    dl.detailMeta dd {
        margin-top:20px;
        font-size:13px;
    }
    div.workCnt {
        margin-top:60px;
        padding:40px 20px;
    }
    div.workCnt img {
        margin:20px auto;
        width:100%;
    }
    /*-- END 디테일 페이지 --*/
    
    div.buttonArea.backTop {
        margin-top:80px;
    }
    div.buttonArea.backTop a {
        width:170px;
    }
}
/*-- END 반응형 --*/